.logincard{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 45rem;
    margin-right: 15rem;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/253/638/452/light-background-hd-wallpaper-preview.jpg);
}
.loginbackground{
    background-image: url(https://img.freepik.com/free-vector/yellow-background-with-halftone-lines-design_1017-30148.jpg?w=360);
    padding-top: 5rem;
    padding-bottom: 3rem;
    height: 92vh;
}
.loginform{
    padding-top: 5rem;
    
}
